:root {
  --bg-color: rgb(246, 237, 237);
  --zaffre: rgb(60, 34, 255);
  --glaucous: rgb(123, 147, 226);
}

body {
  min-height: 100vh;
  font-family: "Roboto Condensed";
  color: white;
  background-image: linear-gradient(0deg, var(--zaffre), var(--glaucous));
}

.display-4 {
  font-weight: 600;
}

form {
  border: none !important;
  background-color: #ffffff00 !important;
}

#splash {
  margin-top: 25vh;
}

#navbar {
  position: absolute;
  top: 0;
}

.landing-icon {
  height: 90px;
  fill: white;
}

p {
  font-size: 1.1rem;
}
