:root {
  --bg-color: rgb(246, 237, 237);
  --valencia: #fc9502;
  --clementine: #f6b65c;
  --glaucous: rgb(123, 147, 226);
}

body {
  min-height: 100vh;
  font-family: "Roboto Condensed";
  color: #fafafa;
  background-image: linear-gradient(0deg, var(--valencia), var(--clementine));
}

.display-4 {
  font-weight: 600;
}

form {
  border: none !important;
  background-color: #ffffff00 !important;
}

#splash {
  margin-top: 20vh;
}

#navbar {
  position: absolute;
  top: 0;
}

#brand {
  width: 120px;
}

.landing-icon {
  height: 90px;
  fill: white;
}

p {
  font-size: 1.1rem;
}
